
/* IDs*/
#header{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width:100vw;
    height:auto;
    margin-bottom: 10vh;
    background-color: purple;
}

#button-bar{
    width: 100%;
    height: 50%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:2vh;
}

#lottery-ticket{
    width:60%;
    max-height:75%;
    background-color: black;
    display: flex;
    justify-self: center;
    box-shadow: 1vw 1vw rgba(76, 0, 130, 0.226);
}

#title-heading{
    animation: float_around 2s ease-in-out infinite .5s;
    display: flex;
    justify-content: center;
    font-size: clamp(.5rem, 2rem, 2.5vw);
}

#cells{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:60%;
    height:100%;
}

#ticket-info-box{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:.5vw;
    width: 40%;
}

#ticket-name{
    display: flex;
    justify-content: center;
    font-size: clamp(.1rem,1.5rem,2vw);
}

#winner-header{
    display: flex;
    font-size: clamp(.25rem,1.5rem,2vw);
    justify-self: bottom   ;
}

#winners{
    display:flex;
    justify-content: space-evenly;
    img{
        max-width:33%;
    }
}

#inventory{
    transition: .5s ease-in-out;
    height:55%;
    width:100%;
    background-color: blueviolet;
    position: absolute;
    bottom: -50%;
}

#inventory:hover{
    transition: .5s ease-in-out;
    transform: translateY(-50%);

}

#inventory:hover #arrow{
    transition: .5s;
    background-color: purple;
}
#money{
    animation: float_around 2s ease-in-out infinite;
    display: flex;
    position: absolute;
    color:lime;
    font-size: clamp(.2vw,1.5rem,2vw);
    left:5%;
    top: 20%;
}

#arrow{
    transition: 1s;
    display: flex;
    width:100%;
    justify-content: center;
    height: fit-content;
    background-color: indigo;
    img{
        height:3vh;
    }
}
/*classes*/
.header-button{
    width:clamp(5%,20%,20%);
    background-color: blueviolet;
    height:5vh;
    font-size: clamp(1rem,1.5rem,2vw);
    display: flex;
    justify-content: center;
    align-content: center;
    border: .2vw solid indigo;
    
    p{
        display: flex;
        justify-self: center;
        align-self: center;
    }
}
.header-button:hover{
    transition: .25s;
    background-color: violet;
}

.header-button:active{
    outline: violet;
}
.cell-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom:5%;
    max-width:auto;
    max-height: 100%;
}

.cell{
    display: flex;
    width: 10%;
    height: 100%;
    border-radius: 10%;
    background-color: blue;
     img{
        aspect-ratio: 1/1;
        max-width: 50%;
        max-height: 50%;
    }
    p{
        font-family: "Handjet", sans-serif;
        font-weight: 900 ;
        font-size: small;
    }
}

.addition{
    position: absolute;
    opacity: 0;
    animation: float_up 1s;
    color:lime;
}

/*ANIMATIONS*/

@keyframes float_around{
    0%{
        transform: translateX(0%);
        transform: translateY(0%);
    }
    50%{
        transform: translate(.5vw,-.5vh);

    }
    100%{
        transform: translatey(0%);
        transform: translateX(0%);
    }
}

@keyframes float_up{
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(-.5vh);
    }

}




/*elements*/
body{
    width: 100vw;
    height:100vh;
    margin:0px;
    background-image: linear-gradient(indigo,violet);
}

html{
    width: 100%;
    height: 100%;
    margin:0px;
    overflow: hidden;
}
/*Fonts*/

.handjet{
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}